p{
    color:black;
    background-color: rgb(178, 143, 79)
}
p1{
    color:black;
    background-color:blue;
    font-weight: bold;
}
p2{
    color:orange;
    font-family: impact;
    font-size: 20px;
}
box1{
    background-color: antiquewhite;
    width:1000px;
    height:600px;
    background-image: url("https://images.unsplash.com/photo-1553451193-d4d44c036555?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-size:500px 333px;
    background-repeat: no-repeat;
}
li{
    font-style: italic;
}
.photo{
background-image: ;
    
}
